<!DOCTYPE html>
<html>
    <head>
        <title>{{ pageTitle }}</title>
        <meta charset="utf-8" />
    </head>

    <body>

        {{> header}}

        <ul>
            <li><a href="https://github.com/TylerHaigh/node-heroku-app">Heroku App</a></li>
        </ul>
        
        {{> footer}}

    </body>
</html>